body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.logo{
  width: 100px;
  height: 100px;
}

span {
  color: midnightblue;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}


.left {
  float: left;
}

.card {
  width: 40%;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.right {
  float: right;
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (max-width : 680px) {

  .logo{
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-top: 30px;
    justify-content: center;
  }

  .card img{
    width: 100%;
    margin-top: 20px;
    display: inline;
    object-fit: cover;
  }
}