*{
    padding: 0;
    margin: 0;
}

.main{
    background-image: url("images/Designer.jpeg");
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.name h1{
    margin: 0 10px;
    color:black;
}
.welcome{
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    width: 410px;
    text-align: justify;
    margin: 20px 10px;
    font-size: 20px;
    line-height: 30px;
}

.nav{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
    font-size: 20px;
}

nav a{
    color: white;
    margin: 10px;
}

nav a:hover{
    color:crimson;
}