</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
<<<<<<< HEAD
  <p>Copyright © <%= new Date().getFullYear() %></p>
=======
<<<<<<< HEAD
  <p>Copyright © 200X</p>
=======
  <p>Copyright © <%= new Date().getFullYear() %></p>
>>>>>>> fad5c03 (Reconnected to GitHub)
>>>>>>> saved-work
</footer>
</body>

</html>