<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
<<<<<<< HEAD
=======
<<<<<<< HEAD
  <title>Band Generator</title>
</head>

=======
>>>>>>> saved-work
   <link rel="stylesheet" href="styles/main.css">
  <title>Band Generator</title>
</head>
  <a href="/">Home</a>
<<<<<<< HEAD
=======
>>>>>>> fad5c03 (Reconnected to GitHub)
>>>>>>> saved-work
<body>
  <main>