body{
    background-color: black;
}

.image{
    text-align: center;
    color: white;
}

img{
    width : 1000px;
    height: 600px;
    border: 5px solid #FF563D;
    border-radius: 100px;
}

h1{
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}